@charset "utf-8";

body,html {
	font-size: 12px;
	font-family: verdana;
	margin: 20px;
	height: 100%;
	width: 100%;
}

h1 {
	font-size: 24px;
	font-weight: 450;
	color: #003B6F !important;
}

.ui-selectonemenu-panel.hideDisabled .ui-selectonemenu-item.ui-state-disabled {
	display: none;
}

.ui-panelgrid.showcase-text-align-center .ui-grid-responsive .ui-panelgrid-cell {
    text-align: center;
}
 
.customPanelGrid .ui-panelgrid-content {
    align-items: center;
}

.nested-grid .p-col-4 {
        padding-bottom: 1em;
}

.login{
    display: flex;
    justify-content:center;
    align-items: right;
    width: 100%;
    transition: all .8s fadeInOpacity linear;
    padding-top:14px;
    padding-bottom: 16px;
    flex-direction:row;
}
